/* Header Estilos */
@use '../utilities/variables';

.logotipo-imagen {
    width: 5rem;
}

.historia-background {
    @extend .index-background;
    background-image: url(../img/img-historia.jpg);
}

.sumate-background {
    @extend .index-background;
    background-image: url(../img/sumate-img2.jpg);
}


.oscurecer-fondo {
    position: absolute;
    inset: 0;
    background-color: $oscuro-background;
    display: flex;
    z-index: 1;
    @include flexBasico(column, space-between);
}

.index-header-inferior {
    width: 100%;
    max-width: 600px;
    margin: 7rem auto;
    padding: 5rem;
    z-index: 2;
}

.index-header-btn {
    border-radius: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s;
    background-color: $lila;

    &:hover{
    background-color: $blanco;
    color: $lila;
    }
}

/* Header páginas interiores */

.rescatados-background {
    background: linear-gradient(90deg, $lilabackground, $violeta);
    background-size: 200% 200%;
    animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    /*codigo sin la animacion 
    background-color: $lilabackground;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    @include flexBasico(column,center);*/
}

.rescatados-header-inferior {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.texto-rescatados {
    color: $blanco;
    font-size: 1.8rem;
}

@media (max-width: 768px) {
    .texto-rescatados {
        font-size: 1.2rem;
    }

    .index-header-inferior,
    .rescatados-header-inferior {
        padding: 1rem;
    }

    .logotipo-imagen {
        width: 4rem;
    }

    .index-header-btn {
        width: 100%;
    }
}
