.index-background {
    background-image: url(../img/index-header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    padding-top: 5rem; 
}


